banksys-parent/banksys-server/banksys-server-backend/src/main/resources/wsdl/registration.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clearing.dibas.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://clearing.dibas.org/" name="RegistrationService">
<types>
<xsd:schema>
<xsd:import namespace="http://clearing.dibas.org/" schemaLocation="http://distsys.ch:8000/dibas/registration?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBankList">
<part name="parameters" element="tns:getBankList"></part>
</message>
<message name="getBankListResponse">
<part name="parameters" element="tns:getBankListResponse"></part>
</message>
<message name="registerBank">
<part name="parameters" element="tns:registerBank"></part>
</message>
<message name="registerBankResponse">
<part name="parameters" element="tns:registerBankResponse"></part>
</message>
<message name="unregisterBank">
<part name="parameters" element="tns:unregisterBank"></part>
</message>
<message name="unregisterBankResponse">
<part name="parameters" element="tns:unregisterBankResponse"></part>
</message>
<portType name="Registration">
<operation name="getBankList">
<input wsam:Action="http://clearing.dibas.org/Registration/getBankListRequest" message="tns:getBankList"></input>
<output wsam:Action="http://clearing.dibas.org/Registration/getBankListResponse" message="tns:getBankListResponse"></output>
</operation>
<operation name="registerBank">
<input wsam:Action="http://clearing.dibas.org/Registration/registerBankRequest" message="tns:registerBank"></input>
<output wsam:Action="http://clearing.dibas.org/Registration/registerBankResponse" message="tns:registerBankResponse"></output>
</operation>
<operation name="unregisterBank">
<input wsam:Action="http://clearing.dibas.org/Registration/unregisterBankRequest" message="tns:unregisterBank"></input>
<output wsam:Action="http://clearing.dibas.org/Registration/unregisterBankResponse" message="tns:unregisterBankResponse"></output>
</operation>
</portType>
<binding name="RegistrationPortBinding" type="tns:Registration">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBankList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerBank">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unregisterBank">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RegistrationService">
<port name="RegistrationPort" binding="tns:RegistrationPortBinding">
<soap:address location="http://distsys.ch:8000/dibas/registration"></soap:address>
</port>
</service>
</definitions>